/*Nav Bar*/
nav
{
    background-color: white solid;
    width: 100%;
    height: 13%;
    position: fixed;
    z-index: 40;
}
/* Sections */
.nav-btn-sc
{
    width: 80%;
    align-items: left;
    align-content: left;
    text-align: left;
    background-color: transparent;
    margin: 2%;
    padding: 2%;
    opacity: 80%;
    cursor: pointer;
    float: left;
    flex-direction: row;
}
.nav-btn-sc:hover
{
   opacity: 100%;
   cursor: pointer;
}
.nav-btn
{
    width:1%;
    opacity: 80%;
    margin: 1%;
    padding: 1%;
    text-decoration: none;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color:rgb(122, 170, 217);
    border-radius: 5%;
}
.nav-btn:hover
{
    opacity: 140%;
    transform: translateZ(0);
    /*color:rgb(6, 47, 88); */
    box-shadow:  4px 4px 40px black;
    border-bottom: 100px black;
    text-decoration: underline 2px;
}
.nav-abt-btn
{
    opacity: 80%;
    margin: 1%;
    padding-right: 2%;
    text-decoration: none;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color:rgb(122, 170, 217);
}
.nav-abt-btn:hover + .hidden-about
{
    display: block;
}
.hidden-about
{
    display: none;
}

.svg-sc
{
    text-align: center;
    margin-left: 5%;
}
.first-sc
{
    width: 100%;
}
.img-container
{
    text-align: right;
    display: flex;
    width: auto;
    padding: 6%;
}

.big-hdr-name
{
    text-align: center;
    color:aquamarine ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    text-shadow: 1px 1px 6px rgb(58, 57, 57);
    animation-name: identifier;
    animation-duration: 10s;
    animation-delay: 5s;
}
.experience-div-container
{
    width:70%;
    background-color: white solid;
    padding: 5%;
}
.experience-div
{
    width:70%;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 15px;
    padding: 5%;
    margin-left: 40%;
    border-radius: 3%;
}
.experience-div:hover
{
    box-shadow: 2px 2px 40px;

}
/* Heading */
.hd-3
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    text-align: center;
}
/* Text */
.nav-btn-txt
{
    width: 2%;
}
.big-text-name
{
    text-align: center;
    width: 100%;
    background-image: url('/coding_logo.png');
    animation: name 5s timing-function 2s iteration-count right fill-mode;
}
.experience-text
{
    width: 100%;
    text-align: left;
    font-size:18px;
}
/* Images*/
.img
{
    border-radius: 4%;
    width:100%;
}
.casual-img
{
    width: 40%;
}
.img-big-logo
{
    width: 42%;
    margin-right: 18.5%;
}
footer
{
    width:100%;
    height: 100px;
    box-shadow: 2px 2px 40px black;
    background-image: linear-gradient(rgb(160, 158, 240),rgb(109, 173, 209),rgb(117, 184, 218));
}
@keyframes identifier {
    from{background-image:linear-gradient(rgb(243, 249, 196),rgb(167, 226, 206))}
    to{background-image:linear-gradient(rgb(161, 169, 221),rgb(113, 111, 245))}


}
.footer-text
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

