<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css" />
    <link rel="icon" href="../image/icon/my_pic_logo.png" />
    <link rel="stylesheet" href="../CSS/bootstrap.min.css" />
    <title>MH PRANTA</title>
</head>
<body>
    <nav>
            <div class="nav-btn-sc">
                <a class="nav-btn" src="">
                <img src="https://img.icons8.com/ultraviolet/25/000000/home--v1.png"/>
                    Home 
                </a>
                <img src="https://img.icons8.com/office/25/000000/about-us-male--v2.png"/>
                <a class="nav-btn">
                    About ^
                </a>
                <a class="hidden-about nav-btn">
                <br>
                About Me
                </a>
                <img src="https://img.icons8.com/color/25/000000/resume.png"/>
                <a class="nav-btn">
                    CV
                </a>
                <img src="https://img.icons8.com/plasticine/27/000000/contact-card.png"/>
                <a class="nav-btn">
                    Contact
                </a>
            </div>
        </div>
        
    </nav>
    <div class="first-sc">
        <div class="img-container">
            <img class="img" src="../image/my_casual_pic.png"/>
        </div>
        <img  src="../image/my_casual_pic.png"/>

        <!-- Typing SVG -->
        <div class="svg-sc">
            <a href="https://git.io/typing-svg">
                <img src="https://readme-typing-svg.herokuapp.com?font=Fira+Code&pause=1000&width=435&lines=Assalamualaikum%2C+Hi+I+am+MH+Pranta...;+Welcome+to+my+personal+portfolio+web.." alt="Typing SVG" />
            </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img  src="../image/my_casual_pic.png"/>
    
</body>
</html>